Hello <%= @user.first_name %> et bienvenue !</h1>
==========================================================

Bravo pour ton inscription chez Events Brights via l'e-mail suivant : <%= @user.email %>.

Pour accéder à ton espace client, connecte-toi via : <%= @url %>.

À très vite sur events-brights.herokuapp.com !
