<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %> !</h1>
    <p>
      <%= @attendee.first_name %> <%= @attendee.last_name %> s'est inscrit à ton event <%= @event.title %> !
    </p>

    <p> À très vite sur https://thp-event-project.herokuapp.com/ !
  </body>
</html>
