<center>
</br></br></br></br></br></br>
  <div class=" mb-">
    <%= link_to "Espace User", admin_users_path, :class => "btn btn-outline-danger btn-lg" %>
    <%= link_to "Espace Event", admin_events_path, :class => "btn btn-outline-danger btn-lg" %>
  </div>
</center>